* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;

	/* === Variables For Storing Colors === */
	--primary-clr: #5c6fd5;
	--bg-light-clr: #f4f7fe;
	--dark-heading-clr: #15181d;
	--dark-sub-heading-clr: #181c1f;
	--dark-text-clr: #454545;
	--light-heading-clr: #fefefe;
	--light-sub-heading-clr: #e2e9fa;
	--light-text-clr: #ccd1dd;
}

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

/* whole website starting styling div */
.website-wrapper {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	background-color: var(--light-heading-clr);
}

/* reusable button code starts */
button.btn {
	padding: 14px 30px;
	border: 1px solid transparent;
	border-radius: 25px;
	background-color: var(--primary-clr);
	color: var(--light-heading-clr);
	font-size: 15px;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.3s;
}

button.btn:hover {
	background-color: transparent;
	color: var(--primary-clr);
	border: 1px solid var(--primary-clr);
}
header.section-heading{
    position: relative;
    max-width: 550px;
    margin-bottom: 35px;
    z-index: 3;
}
header.section-heading h3{
    font-size: 16px;
    color: var(--primary-clr);
    font-weight: 500;
    margin-bottom: 5px;
}
header.section-heading h1{
    font-size: calc(24px + 1.5vw);
    color: var(--dark-heading-clr);
    font-weight: 500;
}
header.section-heading p{
    font-size: 16px;
    color: var(--dark-sub-heading-clr);
    margin: 10px 0px 20px;
    line-height: 1.3;
}
/* reusable button code ends */

/* home section styling starts */
section.home {
	width: 100%;
	min-height: 100vh;
}

.home .top-bar {
	width: 100%;
	padding: 15px 5%;
	background-color: var(--bg-light-clr);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid chocolate;
}

.phone-email {
	display: flex;
}
.phone-email i {
	margin-right: 3px;
	color: var(--dark-heading-clr);
	font-size: 15px;
}
.phone-email span {
	color: var(--dark-heading-clr);
	font-size: 15px;
}
.phone {
	margin-right: 15px;
}

.top-social-links a {
	text-decoration: none;
	color: var(--dark-heading-clr);
	margin-left: 15px;
	transition: 0.3s;
}
.top-social-links a:hover i {
	color: var(--primary-clr);
	transform: translateY(-2px);
}

/* navbar */
.navbar {
	width: 100%;
	height: 80px;
	padding: 0px 8%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: lightpink;
	position: relative;
	z-index: 100;
}

.logo img {
	height: 102px;
    margin-top: 28px;
    width: 150px;
    margin-bottom: 5px;
   
}

.nav-links {
	list-style: none;
}
.nav-links li {
	display: inline-block;
	margin-left: 20px;
}
.nav-links li a {
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
	color: var(--dark-heading-clr);
	transition: color 0.3s;
}
.nav-links li a:hover {
	color: var(--primary-clr);
}

/* menu button */
.menu-btn {
	display: none;
	position: relative;
	width: 26px;
	height: 20px;
	cursor: pointer;
}
.menu-btn span {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(--dark-heading-clr);
	border-radius: 15px;
	transition: transform 0.3s, opacity 0.3s;
}
.menu-btn span:nth-of-type(1) {
	transform: translateY(-7px);
}
.menu-btn span:nth-of-type(3) {
	transform: translateY(7px);
}

/* === MENU BUTTON ANIMATION FIX === */
.menu-btn.active span:nth-of-type(1) {
	transform: translateY(0px) rotate(45deg);
}
.menu-btn.active span:nth-of-type(2) {
	opacity: 0;
}
.menu-btn.active span:nth-of-type(3) {
	transform: translateY(0px) rotate(-45deg);
}

/* banner styling */
.banner {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: url(/images/home/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 0px 8%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.banner .home-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.banner .text-wrapper {
	position: relative;
	max-width: 600px;
	color: var(--light-heading-clr);
	top: -60px;
	z-index: 2;
}

.banner .text-wrapper h3 {
	font-size: 14px;
	margin-bottom: 15px;
	font-weight: 500;
	letter-spacing: 1px;
}

.banner .text-wrapper h1 {
	font-size: calc(42px + 1.5vw);
	font-weight: 500;
	line-height: 1.3;
	margin-bottom: 30px;
}

.banner .text-wrapper p {
	font-size: 15px;
	color: var(--light-heading-clr);
	line-height: 1.5;
	margin-bottom: 30px;
}

/* <!-- features section starts -->*/
section.features{
    position: relative;
    width: 100%;
    padding: 0px 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    z-index: 3;
}
.features .feature-box{
    position: relative;
    padding: 35px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-heading-clr);
    top: -60px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0,.3);
    z-index: 3;
}
.features .feature-box .feature-icon{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light-clr);
    border-radius: 5% 50% 5% 50%;
}
.features .feature-box .feature-icon i{
    font-size: 26px;
    color: var(--primary-clr );
}
.features .feature-box h2{
    font-size: calc(16px + 0.6vw);
    font-weight: 500;
    color: var(--dark-heading-clr);
    text-transform: capitalize;
    margin: 20px 0px 10px;
}

.features .feature-box p{
    font-size: 15px;
    color: var(--dark-text-clr);
    text-align: center;
    line-height: 1.3;

}
/*<!-- features section ends --> */

/* about section styling stasrts */
section.about{
    position: relative;
    width: 100%;
    padding: 90px 8% 30px;
}
.about .about-contents{
     position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 7fr;
    grid-gap: 20px 7%;
    z-index: 2;
}
.about-contents .about-left-col{
    position: relative;
    width: 100%;
}
.about-contents .about-left-col img{
     position: relative;
    width: 100%;
    min-width: 350px;
    min-height: 500px;
    object-fit: cover;
    z-index: 1;
}
.about-contents .about-left-col .about-img-bg{
    position: absolute;
    width: 60%;
    height: 70%;
    top: -20px;
    left: -20px;
    background-color: var(--bg-light-clr);
    border-radius: 25px;
    transform: rotate(-15deg);
    z-index: 0;
}
.about-contents .about-right-col{
    width: 100%;
}
.about-contents .about-right-col .section-heading{
    margin-bottom: 15px ;
}
.about-contents .about-right-col .about-facilities{
    list-style: none;
}
.about-right-col .about-facilities li{
    position: relative;
    font-size: 15px;
    color: var(--dark-text-clr);
    text-indent: 20px;
    margin-bottom: 10px;
}
.about-right-col .about-facilities li::before{
    position: absolute;
    content: attr(check);
    left: -20px;
    color: var(--primary-clr);
    font-weight: 600;
}
.about-right-col .about-btn{
    margin-top: 25px;
}
.about .about-bg-blob{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    overflow: hidden;
    z-index: 1;
}
.about .about-bg-blob img{
position: absolute;
width: 600px;
height: 600px;
bottom: 0px;
right: -100px;
 
}
/* about section styling ends */
/* states section styling starts */
section.states{
    position: relative;
    width: 100%;
    padding: 70px 8% 30px;
}
.states .states-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    background-color: var(--primary-clr);
    border-radius: 5px;
}
.states .states-container .state-box{
    padding: 20px;
    text-align: center;
}
.states-container .state-box h3{
    font-size: calc(24px + 1.5vw);
    color: var(--light-heading-clr);
    margin-bottom: 10px;
}
.states-container .state-box p{
    font-size: 16px;
    color: var(--light-sub-heading-clr);
}
/* states section styling ends */

section.services{
    position: relative;
    width: 100%;
    padding: 90px 8% 20px;

}
.services .services-content{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    z-index: 2;
}
.services .services-content .service-box{
    box-shadow: 0px 0px 8px rgba(0, 0,0,0.4);
    padding: 25px 8%;
    border-left: 3px solid var(--primary-clr);
    cursor: pointer;
}
.services .services-content .service-box .icon-box{
    position: relative;
}
.services .services-content .service-box .icon-box i{
    font-size: calc(22px + 1vw);
    color: var(--primary-clr);
}
.services .services-content .service-box h2{
    font-size: calc(16px 0.6vw);
    color: var(--dark-heading-clr);
    font-weight: 500;
    margin: 20px 0px 10px;
}
.services .services-content .service-box p{
    font-size: 15px;
    color: var(--dark-text-clr);
    margin-bottom: 25px;
    line-height: 1.4;
}
.services .services-content .service-box a{
    text-decoration: none;
    color: var(--primary-clr);
    font-size: 15px;
}
.services .services-content .service-box a:hover{
text-decoration: underline;
}
.services-bg-blob{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.services-bg-blob img{
position: absolute;
width: 700px;
height: 450px;
left: -100px;
top: 140px;
z-index: 1;
}
/* servicesstyling section starts */

/* team styling section starts */
section.team{
position: relative;
width: 100%;
padding: 90px 8% 20px;}
.team .team-contents{
position: relative;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-gap: 20px;
z-index: 2;
}
.team .team-contents .member-box{
     box-shadow: 0px 0px 8px rgba(0, 0,0,0.4);
    padding: 5px;
    overflow: hidden;
    width: 100%;
    position: relative;
    
}
.team-contents .member-box img{
    width: 100%;
    max-height: 550px;
    object-fit: cover;
}
.team-contents .member-box .member-info{
    padding: 3px;
}
.team-contents .member-box .member-info h2{
    font-size: calc(16px+0.4px);
    color: var(--dark-heading-clr);
    font-weight: 500;
    margin-bottom: 7px;
}
.team-contents .member-box .member-info p{
    font-size: 15px;
    color: var(--dark-heading-clr);
}
.team-contents .member-box .member-contacts{
    position: absolute;
    padding: 20px 15px;
    top:35% ;
    right:-100%;
    transform: translateY(-50%);
    background-color: var(--primary-clr);
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: right 0.3s;


}

.team-contents .member-box:hover .member-contacts{
    right: 0%;
}
.member-box .member-contacts a{
    color: var(--light-heading-clr);
    margin-bottom: 7px;

}
.member-box .member-contacts a:nth-of-type(4){
margin-bottom: 0px;
}
.member-box .member-contacts a i{
    color: var(--light-heading-clr);
    font-size: 15px;
    transition: color 0.3s;
}
.member-box .member-contacts a i:hover{
    color: var(--dark-heading-clr);
}

.team .team-bg-blob{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.team-bg-blob img{
    position: absolute;
     
    width: 600px;
    height: 400px;
    right: -100px;
    bottom: 0px;
    transform: rotate(45deg);
    z-index: 1;

}

/* team styling section endss */

/* blogs section styling starts */
section.blog{
    position: relative;
    width: 100%;
    padding: 90px 8% 40px;
}
.blog .blog-contents{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    z-index: 2;
}
.blog-contents .blog-post{
    position: relative;
    padding: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.blog-contents .blog-post img{
    width: 100%;
}
.blog-contents .blog-post .date-posted{
    padding: 10px;
    display: flex;
    justify-content:space-between ;
}
.blog-post .date-posted i{
    font-size: 15px;
    color: var(--dark-text-clr);
}
.blog-post .date-posted i span{
    display: inline-block;
    margin-left: 8px;
    font-weight: 500;
    color: var(--dark-text-clr);
}
.blog-post h2.title{
    padding: 0px 10px;
    font-size: calc(16px + 00.6vw);
    font-weight: 500;
    color: var(--dark-heading-clr);
}
.blog-post p{
    padding: 0px 10px;
    font-size: 15px;
    color: var(--dark-text-clr);
    line-height: 1.3;
    margin: 10px 0px 15px;
}

.blog-post a{
    display: inline-block;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 15px;
    color: var(--primary-clr);
    margin-bottom: 15px;
    transition: all 0.3s;

}
.blog-post a:hover{
text-decoration: underline;
}

.blog .blog-bg-blob{
     position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.blog .blog-bg-blob img{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    transform: translateX(-50%)rotate(95deg);
    bottom: 0px;
    z-index: 1;
}


/* blogs section styling ends */


/* footer section styling starts */
.footer{
    position: relative;
    width: 100%;
    padding: 70px 8% 50px;
    background-color: #2c3c89;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr ;
    grid-gap: 20px;
}
.footer .footer-col{
    position: relative;
    z-index: 2;
}
.footer .footer-col .col-header{
    position: relative;
    margin-bottom: 20px;
}
.footer-col .col-header h2{
    font-size: calc(16px+0.6vw);
    color: var(--light-heading-clr);
    font-weight: 500;
}
.footer-col-1 .col-header img{
    width: 130px;
    height: 130px;
}
.footer-col-1 .col-desc{
    font-size: 15px;
    color: var(--light-heading-clr);
    line-height: 1.3;
}
.footer-col-1 .col-desc p:nth-child(2){
    margin-top: 5px;
}
.footer-col-1 .col-desc .footer-social-media{
    margin-top: 30px;
}
.footer-col-1 .col-desc .footer-social-media a{
    color: var(--light-heading-clr);
    text-decoration: none;
    font-size: calc(12px+0.4vw);
    margin-right: 15px;
    transition: color 0.3s;

}
.footer-col-1 .col-desc .footer-social-media a:hover{
    color: var(--primary-clr);
}

.footer-col-2 .col-desc{
    display: flex;
    flex-direction: column;
} 
.col-desc .contact-row{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.col-desc .contact-row span{
    color: var(--light-heading-clr);
    font-size: 16px;
}
.col-desc .contact-row span:nth-child(1){
     color: var(--light-heading-clr);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 5px;
}

.footer-col-3 .col-desc{
    display: flex;
    flex-direction: column;
} 
.col-desc a{
    position: relative;
    text-decoration: none;
    color: var(--light-heading-clr);
    margin-bottom: 15px;
    align-self: flex-start;
    transition: all 0.3s;
    left: 15px;
}
.col-desc a::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: var(--light-heading-clr);
    border-radius: 50%;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}
.col-desc a:hover{
    letter-spacing: 2px;
}

.footer-col-4 .col-desc{
    display: flex;
    flex-direction: column;
} 
.footer-col-4 .col-desc p{
font-size: 15px;
color: var(--light-text-clr);
line-height: 1.3;
}
.footer-col-4 .col-desc form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.footer-col-4 .col-desc form input{
    width: 100%;
    padding: 12px;
    border: 1px solid var(--light-heading-clr);
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.footer-col-4 .col-desc form .email-submit-btn{
    border-radius: 5px;
}

/* footer section styling ends */

/* responsive */
@media (max-width: 1068px){
     .services .services-content{
        grid-template-columns: 1fr 1fr;
     }
     .blog .blog-contents{
         grid-template-columns: 1fr 1fr;
     }
}
@media (max-width: 968px){
    /* team section */
    .team .team-contents{
        grid-template-columns: 1fr 1fr;
    }
    /* FOOOOOOTER  */
    section.footer{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 868px){
    /* feATURES SECTION */
    section.features{
        grid-template-columns: 1fr 1fr;
    }
    /* //about section */
    .about .about-contents{
        grid-template-columns: 1fr;
        grid-gap: 25px 0px;
    }
}
@media (max-width: 768px) {
	.home .top-bar {
		display: none;
	}

	.menu-btn {
		display: flex;
	}

	.nav-links {
		position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
		display: flex;
		flex-direction: column;
		padding: 0;
		background-color: var(--light-heading-clr);
		border-top: 1px solid var(--bg-light-clr);
		max-height: 0;
		overflow: hidden;
		transform-origin: top;
		transition: max-height 0.4s ease, padding 0.3s ease;
	}

	.nav-links.active {
		max-height: 350px;
		padding: 30px 0;
	}

	.nav-links li a {
		display: block;
		width: 100%;
		padding: 15px 0;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1px;
	}

	.nav-links li a:hover {
		background-color: var(--bg-light-clr);
	}
    .states .states-container{
          grid-template-columns: 1fr 1fr ;
    }
}
@media (max-width: 668px){
    /* feATURES SECTION */
    section.features{
        grid-template-columns: 1fr ;
    }
    .features .feature-box .feature-icon i{
        font-size: 22px;
    }
}
@media (max-width: 568px){
     /* team section */
    .team .team-contents{
        grid-template-columns: 1fr ;
    }
    .about-contents .about-left-col img{
        min-width: 300px;
        min-height: auto;
    }
    .states .states-container{
          grid-template-columns: 1fr ;
    }
    .services .services-content{
        grid-template-columns: 1fr ;
        grid-gap: 20px 0px;
     }
     /* blog section */
     .blog .blog-contents{
         grid-template-columns: 1fr ;
     }
/* fooooooter */
     section.footer{
        grid-template-columns: 1fr ;
    }
}